
@{
    ViewBag.Title = "StudentProfile";
}

<h2 class="text-center jumbotron bg-info text-white">Student Profile</h2>
<div class="text-left">
 
</div>
<div class="text-center">
    <h3>
        @Html.DisplayName("College")
        <br />
        @Html.TextBox("College")
        <br />
        @Html.DisplayName("Major")
        <br />
        @Html.TextBox("Major")
        <br />
        @Html.DisplayName("Year")
        <br />
        @Html.TextBox("Year")
        <br />
        @Html.DisplayName("State")
        <br />
        @Html.TextBox("State")
        <br />
        @Html.DisplayName("City")
        <br />
        @Html.TextBox("City")
        <br />
        @Html.DisplayName("Email")
        <br />
        @Html.TextBox("Email")
        <br />
        @Html.DisplayName("Phone")
        <br />
        @Html.TextBox("Phone")
        <br />
        @Html.DisplayName("Brief Description")
        <br />
        @Html.TextArea("Desc")
        <br />
    </h3>
</div>

