@model CIT280App.Models.StudentModel

@{
    ViewBag.Title = "Details";

    string EmailTo = Model.Email;

    string FullName = Model.FirstName + Model.LastName;
}
<style>

    a {
        color: white;
        text-decoration: none;
    }

        a:hover {
            color: aliceblue;
            text-decoration: none;
        }
</style>
<h2 class="text-center jumbotron bg-info text-white">Profile</h2>

<div>
    <h4 class="text-center">@FullName</h4>
    <hr />
    <dl class="dl-horizontal text-center">
        @*<dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.ProfilePic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProfilePic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reviews)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reviews)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearInSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearInSchool)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-lg btn-primary text-left" href="mailto:@EmailTo">Contact Student</a>
<p class="btn btn-lg btn-primary text-left">@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) </p>
<br />
<p class="btn btn-lg btn-primary text-left">@Html.ActionLink("Back to Dashboard", "StudentDashboard")</p>
</p>
